
*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: "Inter", sans-serif;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.yellow-blob, .blue-blob{
  position: absolute;
  width: 200px;
}

.yellow-blob{
  top: 0;
  right: 0;
}

.blue-blob{
  bottom: 0;
  left: 0;
}

.start-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.start-screen h1{
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 2.0156rem;
  color: #293264;
}

.start-screen p{
  margin-bottom: 30px;
  font-weight: 400;
  color: #293264;
}

.button{
  font-family: inherit;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-weight: 600;
  cursor: pointer;
}



/* Questions Screen */

.questions-div{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.question{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: .79px solid #DBDEF0;
}

.question .question-text{
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  color: #293264;
}

.answers-div{
  display: flex;
  gap: 13px;
}

.answers-div button{
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  min-width: 66px;
  height: 21px;
  color: #293264;
  font-weight: 500;
  background-color: #F5F7FB;
  border-radius: 8px;
  border: none;
}

.answers-div button:hover{
  cursor: pointer;
  background-color: #DDF2FF;
}

.checked-div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cheked-p{
  color: #293264;
  font-size: 1r`em;
  font-weight: 700;
}

